<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME}/logs/oc-stat.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${HOME}/logs/%d{yyyy-MM-dd}/oc-stat-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="com.sktechx.palab.logx" level="DEBUG" />
	<logger name="org.apache.http.wire" level="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.cache" level="DEBUG" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.SQL" level="OFF" />
	<logger name="com.mangofactory" level="WARN" />
	<logger name="java.sql.DatabaseMetaData" level="WARN" />
	<logger name="javax.persistence" level="DEBUG" />

	<root>
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>